# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Folders
target/*
target/classes/*
out/*
samples/results/*

#OS junk files
[Tt]humbs.db
*.DS_Store

# IDEA project files
.idea/*
*.iml